html,
body {
    height: 100%;
    padding: 0;
    margin: 0;
}

#root {
    min-width: 100%;
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.nickname-input {
    width: 100%;
    padding: 10px;
}

button {
    margin: 10px;
    background-color: #FFFFFF;
    text-decoration: none;
    border: solid 1px #3989DE;
    border-radius: 10px;
    padding: 10px;
}

.board {
    width: 50vw;
    font-size: 16px;
    border: solid 1px #000000;
    cursor: default;
    display: flex;
    flex-direction: column;
    text-align: left;
    position: relative;
}

.word {
    position: relative;
    width: fit-content;
}

@media only screen and (max-width: 1024px) {
    .board {
        width: 80vw;
    }
}